@charset "UTF-8";

body{
	margin: 0;
}

#wrap{
	width:100%; 
	margin:0 auto;
}

a{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration: none;
	color:black;
}

.header{
	margin-top:-20px;
	width:100%;
	height:130px;
	text-align: center;
	box-sizing:border-box;
	background-color: #faf1d0;
	/* font-family: Dotum,'돋움',sans-serif,Arial, Helvetica; */
	/* border-bottom: 1px sold #999; */
	
}
.header_logo h1{
	font-size: 200% ;
	
	letter-spacing:2px;
	
}
.header_logo p{
	margin-top:-20px;
	font-size: 100%;
	letter-spacing:2px;
	
}
.header_gnb ul{
	font-size:100%;
	margin-top:-10px;
	padding:0; list-style:none;
}
.header_gnb ul li{

	display:inline-block;
	color:black;
}
.header_gnb ul li a{
	
	display:block;
	
	font-size: 80%;
	color: black;
	margin:3px 15px;
	letter-spacing :0px;
}
.header_gnb ul li a:hover{
	color: white;	 text-decoration: underline;
}






#footer { 

width:100%;
margin-top:30px;
position:relative;  margin:o auto; height:270px;
	   background-repeat: no-repeat;	  font-size: bold;
	   background-color: #faf1d0;
	 
	   
}

/*  */
#footer_view{
	/* float:left; */
	position:relative;
	width:95%;
	height:150px;
	margin:0 auto;
}


#footer_1{
	/* float:left; */
position:relative;
margin:0 auto;
height: 30px ; width: 90%; 
text-align:center;


}
#footer_1 h6{
	font-size:40px;
	letter-spacing:2px; 
	margin-left: 0px;
	margin-top: 10px;
}
#footer_1 p{
margin-top:-90px;
		font-size:15px;
	letter-spacing:3px;

}


 #footer_2 {  
 margin:0 auto;
position:relative;
/* float:left; */
text-align:center;
 height: 50px ; width: 95%;
	margin-top:60px;

	}



footer #footer_2 ul{
	

	margin-right: 0px;
}
footer #footer_2 ul li{
	list-style:none;
	 display:inline-block;
}
footrer #foter_2 ul li a{
	
	display:block;
	font:bold 14px 'arial';
	color:black;
	/* margin:0px 16px; */
	letter-spacing :1px;
}
#footer_3 {
/* 	float:left; */
	position:relative;
	right:0px;
	
	width:95%;
	height:50px;
	margin-top:20px;
	text-align: center;

	
	}
	
#sum_aa{position:relative;width:865px;  height:64px; border-bottom:6px solid #3a3125; 
	font-size:170%; line-height:64px;/* background:aqua; */ color:#9f876b;
	
	}
.clear {	clear: both;  }
#main_img {text-align: center; position: relative; width:100%;
margin-top:10px;
height: 410px

}

#main_img img {	margin:0 auto; width: 99%;height:400px; overflow: hidden;}

#serch_bar_view{

  	width: 98%; height: 360px;
	background: white;		text-align: left; margin:0 auto;
	 position:relative; 
}
#serch_bar{
	margin:0 atuo;
	
	width:98%;
	height:370px;
	top:0;

	text-align: center;
	
}
#serch_bar ul{
	list-style: none;
margin:0 auto;
width:100%; height: 50px;
text-align: center;
	
}
#serch_bar ul li{
	
	float: left;
	display:block;
	margin-top:20px;

	font-weight: bold;
	font-size: 150%;
}
#serch_bar ul li:nth-child(1){
	/* margin-left:-30px; */	
}
#datepicker1{height: 40px;}
#datepicker2{height: 40px;}
#datepicker3{height: 40px;}
#datepicker4{height: 40px;}




#serch_bar_button{
	position:relative;
	

	left:100%;
	margin:0 auto;
   height:50px;
   width:100px;
   font-weight:bold;
   background:#faf1d0;
   font-size:50%;
}