@charset "UTF-8";



	
	
/* bookdetail form css*/
#hotelview { width:100%; margin:0 auto; height:310vw; }
#subject {font-size:170%; margin:0 auto; width:100%; height:22%; font-weight:bold; }
#roomview {position:relative; width:100%; margin:0 auto; height:13%; }
#room_img {float:left; width:50%; height:80%; }
#room_img img{width:100%; height:100%;}
#room_content {float:left; height:80%;  width:50%;
	font-size:120%}
#room_content ul{list-style:none; padding:0px;}
#room_content ul li{margin-bottom:2%; margin-left:1%;}
#room_content ul li:nth-child(1){margin-top:-8%; }
#popup{float:left; height:25%; width:50%; background:#856f56; font-size:120%; font-weight:bold;
	color:white; line-height:230%; text-align:center; margin-top:1%;}
#button_view{float:left; height:25%; width:50%;  margin-top:1%;}
#button_view_div{height:100%; width:100%;}
#book_button{ height:100%; width:100%; background:#856f56; font-size:120%; font-weight:bold; 
	color:white;}
	
.popup00{ display: none;}
.popup00{width: 100%; height:100%; position: absolute; top:10%; 
	margin: 0 0 0 0;	background-color: #fff;	z-index: 2; }

.backon{content: ""; width: 100%; height: 100%; background: #00000054; position: fixed;
    top: 0; left: 0; z-index: 1;}
.close{position:absolute; top:-25px; right: 0; cursor:pointer;}
.openPopup{ cursor:pointer; }


#seemore_div1{width:100%; height:45%;  margin:0 auto; overflow:hidden;}
#seemore_div1 img{width:20%; height:45%;}
.seemore_imgview{width:500%; height:45%; position:relative;}

#seemore_div2{position:absolute; height:50%; width:50%; left:5%;}
#seemore_div3{position:absolute; height:50%; width:40%; background:#Faf1d0; right:50px;
			text-align:left;}
#seemore_view{width:100%; height:100%; margin:0 auto; background:red;}
#seemore_div2_1{position:relative; width:500px; height:20%; }
#seemore_div2_1left{ height:19%; width:10%;  float:left; text-align:center; line-height:19%;
	font-weight:bold; background:#Faf1d0;}
#seemore_div2_1right{ height:19%; width:39%;  float:left; font-size:90%;}
#seemore_div2_1right ul li{padding-top:8px;}
#seemore_div2_1right ul li:nth-child(1){padding-top:0px;}

#seemore_div2_2{postion:relative; width:500px; height:291px; }
#seemore_div2_2left{height:291px; width:110px;  float:left; text-align:center; line-height:291px;
	font-weight:bold; background:#Faf1d0;}
#seemore_div2_2right{height:291px; width:390px;  float:left; font-size:90%;}
#seemore_div2_2right ul{list-style:none; padding-top:1px;}
#seemore_div2_2right ul li{padding-top:2px;}
#seemore_div2_2right ul li:nth-child(1){list-style:disc;}
#seemore_div2_2right ul li:nth-child(2){padding-top:6px;}
#seemore_div2_2right ul li:nth-child(4){font-size:85%;}
#seemore_div2_2right ul li:nth-child(5){padding-top:6px;}
#seemore_div2_2right ul li:nth-child(7){list-style:disc; padding-top:6px;}


#seemore_div3 ul{list-style:none; padding:13px; padding-top:0px; padding-right:0px;}
#seemore_div3 ul li{font-size:90%;}
#seemore_div3 ul li:nth-child(1){font-size:115%; font-weight:bold; padding-bottom:6px;}
#seemore_div3 ul li:nth-child(5){font-size:115%; font-weight:bold; padding-bottom:6px;}
#seemore_div3 ul li:nth-child(8){font-size:115%; font-weight:bold; padding-bottom:6px;}

.lbtn{position:absolute; left:50px; background-image: url(images/ico_movie_171115.png); background-position: -60px -460px; width:50px; height:50px; border-radius: 50%; top:180px;}
.rbtn{position:absolute; left:900px; background-image: url(images/ico_movie_171115.png); background-position: 0px -460px; width:50px; height:50px; border-radius: 50%; top:180px;}
	
	

